@use 'src/styles/vars';


.profile-input{
  font-family: 'brandon-grotesque', sans-serif!important;
  font-size: 1em;
  width: 60%;
  background-color: vars.$lightYellow;
  border: 1px solid vars.$lightYellow;
  border-radius: 3px;
  margin: 1em!important; 
  display: none;
}

#favorite-form{
  display: flex;
  justify-content: center;
}



#profile-form {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  label {
    font-family: 'brandon-grotesque', sans-serif;
  }
}

#text-area{
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 1em;
  height: 8em;
  width: 100%;
  align-items: center;
  background-color: vars.$lightYellow ;
  margin: 1em;
  border: 1px solid vars.$lightYellow;
  border-radius: 3px;
}

#button-profile {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 1em;
  color: vars.$lightYellow!important;
  min-width: 30%;
  height: 2.5em;
  margin: 1.5em;
  background-color: vars.$darkBlue ;
  border: 1px solid vars.$darkBlue;
  border-radius : 3px;
}

#favorite-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

