@use 'src/styles/vars';

#dropdown-container {
    width: 19em;
    margin: 20px auto 30px auto;
}
  
.link-dropdown {
  // margin: -8px!important;
  // width: auto;
  position: relative;
  
  a {
    //position: absolute;
    //left: 0px;
    //top: 0;
    // margin: 0;
    padding: 10px!important;
    // height: 5rem;
    width: 100%;
    border: solid 1px blue;
  }
}

// display of product cards  after API call
.products-results {
    margin: auto;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // id defined in ProductCard Component
    #mug-card {
        margin: 30px 50px; 
    }

}
