@use 'src/styles/vars';


#dropdown-container {
    width: 300px;
    margin: 20px auto 30px auto;
    
  }
  
  .link-dropdown {
    padding: 0;
    a {
      width: 100%;
      background-color: blue;
    }
  }

// display of product cards  after API call
#category-results {
    margin: auto;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // id defined in ProductCard Component
    #mug-card {
        margin: 30px 50px; 
    }

}
