.box-error-page {
    
  //min-height: 70vh;  

  h1 { // should be same as other pages from main scss file
    //padding-top: 3rem;
    //font-size: 5rem;
  }
  
  h2 {
    padding-top: 3rem;
    font-size: 3rem;
  }
}

#mug-to-split{
  width: 20%;
  height: 30%;
}
