@use 'src/styles/vars';

.mug-card {
  margin: 2rem;
  // margin-right: 4rem;
  // .cardMugMedia {
  //   // height: 345px;
  // }
  .card-content{
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    //border: 1px green solid;
    align-items: flex-start;
   

    .card-mug-props { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //border: 1px solid red;

        .card-mug-name {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 5px;
        }
        .card-mug-categ {
        font-size: 1.5rem;
        }
    }
  }
  .MuiCardActions-root {
    //border: 1px solid blue; 
    display: flex;
    justify-content: space-around;
    padding: 0;
    a {
      text-decoration: none;
      #card-button {
          background-color: vars.$orangeYellow;
          color: vars.$backgroundGrey; 
          border-radius: 20px;
          margin: 1em;
      }
    }
  }
}

