@use 'src/styles/vars';


// keep a good ratio on small mobiles.
// navbar-container is the main container.
#navbar-container {
  width: 100%;
  background-color: vars.$blackOpacityTwenty;
  .main-nav {
    display: flex;
    justify-content: space-around;
    // to have the burger icon on the right on mobile view
    @media (max-width:900px) { 
        width: 100%;
        text-align: right;
    }

    // Pushes the "catégories" navlink in 2nd position when navbar is in full-width.
    #accueil {
      order: 1;
    }
    #categories {
      order: 2;
      
      @media (min-width: 900px){ 
        &:hover {
          .chevron { 
            transition: 0.1s ease-in-out;
            transform: rotate(180deg);
          }
        }
      }
    }
    
    #concept {
      order: 3;
    }
    #contact {
      order: 4;
    }
  }
}


// those ul classes can't go inside the navbar container or they break 
// burger menu
ul.main-menu {
  display: flex;
  width: 100vw;
  max-width: 1200px;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  z-index: 7;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  height: 64px;
  list-style-type: none;

  & a {
    font-family: "brandon-grotesque",sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    display: block;
    color: vars.$lightYellow;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width:900px) { 
  // Handle the bottom navbar over and links when 
  // it's not in burger menu
  .menu-item {
    border-radius: 0;
    color: vars.$lightYellow;
    text-decoration: none;
    height: 64px;
    a {
      display: flex;
      align-items: center;
      height: 100%;
      // This padding allows us to have a 8px wider border bottom on hover
      padding: 0 4px;
      // use not(.is-active) instead
      &.is-active {
        border-bottom: 4px solid vars.$orangeYellow;
      }
      // puts the svg chevron on the same line
      .chevron {
        position: relative;
      }
    }
    .menu-item-link:hover:not(.is-active) {
      border-top: 4px solid rgba(255, 0, 0, 0);
      border-bottom: 4px solid vars.$lightYellow;
      transition: none;
      border-radius: 0;
    }
  }
}

.sub__menus__arrows{
  position: relative;
}

// oddly, this manages the svg chevron on burger menu, but 
// is not overridden by any other position from above elements.
.sub__menus__arrows svg, .sub__menus__arrows__full svg{
  padding-top: 0px;
  position: absolute;
  top: 3px;
  width: 20px;
}

// dropdown on categories menu item
.sub__menus {
  position: absolute;
  right: -20px; // size of the down arrow
  top: 64px;
  display: none;
  background-color: vars.$lightYellow;
  min-width: 150px;
  padding: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 50 / 10%);

  // we want full width on dropdown on mobile screens
  @media (max-width:900px) { 
      width: 100%;
      margin: 0;
      padding: 0;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;

    &:hover {
      background-color: vars.$backgroundGreen;

      a {
        color: vars.$lightYellow!important;
      }
    }    
  }
}


@media (max-width:900px) { 
  .header__middle .active {
    color: vars.$backgroundGreen!important;
    background: none;
  }
}

@media (min-width:900px) { 
  .sub__menus__arrows:hover .sub__menus{
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus{
    display: block;
    z-index: 1000000;
  }
}



.menu-item .sub__menus  a {
  margin: 0;
  padding: 0;
  color: vars.$backgroundGrey!important;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
  width: 100%;
}

// burger menu management
@media(max-width:900px){
.header__middle__logo {width: 77%;}
.header__middle__menus {width: 20%;}
.header__middle__logo img {max-width: 197px;margin: 27px 0 0 0;}

  // hamburger menu icon
  .main-nav .menubar__button {
    display: block!important;
    color: vars.$lightYellow;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    margin: 14px auto 13px;
    cursor: pointer;
    position: relative;
    z-index: 10037;

    svg {
      font-size: 33px;
    }
  }
  .main-nav .menubar__button:hover {
    color: vars.$orangeYellow;
  }

  .main-nav .menu-item:hover > a {
    color: vars.$backgroundGreen!important;
  }

  .main-nav ul.menuq2 {
    display: block!important;
    position: absolute;
    right: 0;
    z-index: 10007;
    background-color: vars.$backgroundGrey;
    padding: 0;
  }

  .main-nav .menu-item a {
    margin: auto 0;
    text-align: center;
    color: vars.$lightYellow;
  }

  .main-nav  ul.main-menu {display: none}
  .main-nav .sub__menus__arrows:hover .sub__menus {margin: 0 auto;left: 0;right: 0;}
  .sub__menus__Active{display: block!important;margin: 0 auto;left: 0;right: 0;}
  .sub__menus__Active2{display: block!important;}
  .menus__categorysss{display: none;}
  .menus__categorysss2{display: none;}
  .menu-item .sub__menus__full a {text-align: left;}
}
