@use 'src/styles/vars';

.MuiBox-root .MuiToolBar-regular .css1cndkqf-MuiToolbar-root{
  z-index: 4 !important;
}

/*
.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  width: 100%;
  text-align: center;
}
*/
#navbar{
  // height: 64px;
  height: 100%;
  background-color: vars.$blackOpacityTwenty;
  color: vars.$lightYellow;
  box-shadow: none;
  position: relative;

  #menu-appbar {

    height: 100%;
    color: vars.$lightYellow;
    justify-content: space-between;
    z-index: 10;  // otherwise, category dropdown goes behind title on Product Page

    button {
      font-family: "brandon-grotesque";
      font-size: 1.3rem;
      text-transform: none;
      margin: 0;
      color: white;
      height: 100%;
      &:hover{
        background-color: transparent;
      }
    }

    
    // = .menu-item
    .navbar-bottom-link {
      border-radius: 0;
      color: vars.$lightYellow;
      text-decoration: none;
      height: 64px;

      // use not(.is-active) instead
      &:hover:not(.active) {
        border-top: 4px solid rgba(255, 0, 0, 0);
        border-bottom: 4px solid vars.$lightYellow;
        transition: none;
        border-radius: 0;
      }
      &.active {
        border-bottom: 4px solid vars.$orangeYellow;
        transition: none;
        background-color: transparent;
      }
    }
  }
}

// for some reason, doesn't work when included in #navbar{}
// same thing for user icon links in navbar bottom component
#menu-item {
  // overriding Roboto Font from MUI component
    font-family: "brandon-grotesque",sans-serif;
    font-size: 1.3rem;
}

