/*
$menuWidth: 250px;
$smallMenuWidth: 150px;
$small: 700px;
$gutter: 1.5rem;
*/

// GRIS
$backgroundGrey: #32373c;
$darkGrey: #1e2124;

// VERT
$backgroundGreen: #0ac3a7;
$darkBackgroundGreen:#0CAD93;
$veryDarkBackgroundGreen: #008571;

// JAUNE
$orangeYellow: #ffb400;
$lightYellow: #fffdd8;

//Bleu
$darkBlue: #234b78;
$lightBlue: #3BB3DE;
$extraLightBlue: #CDF2FF;

//Rouge
$darkRed: rgb(165, 42, 40);
$lightRed: #D83A37;
