@use 'reset';
@use 'vars';


body {
  font-family: "brandon-grotesque",sans-serif;
}

h1 {
  padding: 10px;
  font-weight: 600;
  @media (min-width: 0px){ 
    font-size: 2.5rem;
    margin: 20px;

  }
  @media (min-width: 900px){ 
    font-size: 3.5rem;
    margin: 50px;
  }
}

h2 {
  @media (min-width: 0px){ 
    font-size: 1.5rem;
    margin: 20px;

  }
  @media (min-width: 900px){ 
    font-size: 2rem;
    margin: 20px;
  }
  font-style: italic;
  font-weight: 500;
}

h3 
{
  font-size: 1.2rem;
  padding: 10px;
}
