@use 'src/styles/vars';

#cgu-container {

  background-color: white;
  display:flex;
  flex-direction: column;
  padding: 20px;
}

#cgu-content{
  display: block;
  margin: auto;
  @media (min-width: 0px){ 
    max-width: 90%;
  }
  @media (min-width: 600px) { 
    max-width: 80%;
  }
  text-align: left;
  padding: 20px 0;
  font-size: 1.2rem;


  h2 {
    color: vars.$backgroundGreen;
  }

  .cgu-p  {
    line-height: 1.5;
  }

  .cgu-date  {
    margin: 20px 0;
    font-style: italic;
    text-align: right;
  }
}

