@use 'src/styles/vars';


.css-1ps6pg7-MuiPaper-root {
  z-index: 10;
}
// #composition-menu {
// // background-color: vars.$backgroundGreen;
// } 

#navbar #menu-appbar a.link-dropdown {
  color: vars.$darkGrey;
  height: auto;
  // &:hover {
  //   // border-bottom: 10px solid red;
  // }
  
}
