@use 'src/styles/vars';


#notice-container {

  background-color: white;
  display:flex;
  flex-direction: column;
  padding: 20px;

  #notice-title{
    h1 {
      color: vars.$backgroundGreen;
    }
  }

  h2 {
    text-align: left;
    color: vars.$backgroundGreen;
  }


  .notice {
    //margin-bottom: 2em;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: left;
  }
}

