@use 'src/styles/vars';


#notice-container {

  background-color: white;
  display:flex;
  flex-direction: column;
  padding: 20px;

  

  #notice-title{
    h1 {
      color: vars.$backgroundGreen;
    }
  }

  #notice-content{
    display: block;
    margin: auto;
    @media (min-width: 0px){ 
      max-width: 90%;
    }
    @media (min-width: 600px) { 
      max-width: 80%;
    }
    text-align: left;
    padding: 20px 0;
    font-size: 1.2rem;
  }

  h2 {
    text-align: left;
    color: vars.$backgroundGreen;
  }


  .notice {
    //margin-bottom: 2em;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: left;
  }
}

