@use 'src/styles/vars';

#top-menu-box {
    @media (max-width: 600px){ 
      padding-top: 10px;
    }
    background-color: vars.$blackOpacitySixty;
    
    #top-menu-appbar {
    background-color: vars.$blackOpacityZero;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    box-shadow: none;

    #top-menu-toolbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      #link-logo-image {
        order: 1;
        @media (min-width: 600px) { 
          order: 2;
        }
        #logo-image {
          width: 200px;
          align-items: center;
          padding: 0;
          // filter: invert(93%) sepia(4%) saturate(1737%) hue-rotate(11deg) brightness(110%) contrast(102%);
          // https://codepen.io/sosuke/pen/Pjoqqp
          // Pour convertir une couleur en filter
        }
      }
    }

    
  }
}
#menu-typo{
  font-family: "brandon-grotesque";
}
