@use 'src/styles/vars';


#top-menu-box {
    background-color: vars.$darkBackgroundGreen;
  #top-menu-appbar {
    background-color: vars.$darkBackgroundGreen;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    box-shadow: none;
    #top-menu-toolbar {
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
  }

  #logo-navbar {
    width: 200px;
    align-items: center;
    padding: 0;
    // filter: invert(93%) sepia(4%) saturate(1737%) hue-rotate(11deg) brightness(110%) contrast(102%);
    // https://codepen.io/sosuke/pen/Pjoqqp
    // Pour convertir une couleur en filter
  }
}
