@use 'src/styles/vars';


#toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: vars.$darkBackgroundGreen;
  #logo-navbar {
    width: 200px;
    align-items: center;
    padding: 0;
    // filter: invert(93%) sepia(4%) saturate(1737%) hue-rotate(11deg) brightness(110%) contrast(102%);
    // https://codepen.io/sosuke/pen/Pjoqqp
    // Pour convertir une couleur en filter
  }
}
