@use 'src/styles/vars';

#breadcrumb-global {
  margin-left: 32px;
}

#product-details {
  background-color: white;
  margin-top: 60px;
  min-height: 80vh;

  .product-title-box {
    
    .product-title {
      display: inline-block;
      color: vars.$lightYellow;
      background-color: vars.$veryDarkBackgroundGreen;
      position: relative;
      bottom: 2rem;
      text-transform: uppercase;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 100%;

      // per all h1 (see main index.scss)
      @media (min-width: 0px){ 
        font-size: 2.5rem;
      }
      @media (min-width: 900px){ 
        font-size: 3rem;
      }
    }
  }
  .product-description {
    display: inline-block;
    width: 70%;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 1.3em ;
  }

  #product-actions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    //border: 1px red solid;
    max-width: 100%;
        
    #buttons-group {
      display: flex;
      flex-direction: column;
      min-width: 40%;
      // border: 1px solid black;
      padding: 10px;
      justify-content: center;

      // selecting all direct children elements: 2 buttons & 1 link
      & > * {
        margin: 0.8em;
        font-family: "brandon-grotesque",sans-serif;
        width: 100%;
      }

      // no links for these, only button tags
      #download-recto, #download-verso {
        background-color: vars.$orangeYellow;
        color: vars.$darkGrey;
      }
      
      a {
        text-decoration: none;
        text-transform: none;
        // button tag is inside the link tag
        #send-to-printer {
          font-family: "brandon-grotesque",sans-serif;
          width: 100%;
          background-color: vars.$darkBlue;
        }
      }
    }
  }
  }


#feedbacks-container {
  background-color: vars.$darkBackgroundGreen;
  padding-bottom: 20px;

  #feedback-container{
    display: flex;
    justify-content: center;

    #feedback-content{
      width: 80%;
      margin: 1.5em;

      .feedback-title {
        color: white;
        font-size: 2rem;
        font-style: normal;
        margin-bottom: 20px;
      }

      #user-feedback-icon{
        height: 2em;
        width: 2em;
        color: vars.$orangeYellow;
      }

      #feedback-author{
        font-size: 1.5em;
        margin: 0.3em;
        font-weight: 600;
        color: vars.$darkGrey;
      }
    
      #user-promo{
        font-size: 1.2em;
        margin: 0.5em;
        color: vars.$lightYellow;
      }

      #feedback-message{
        color: vars.$darkGrey;
        font-size: 1.8em;
        font-weight: 400;
        font-style: italic; 
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 600px){ 
          max-width: 50%;
        }
      }
    }
  }
}

