@use 'src/styles/vars';

#product-actions {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border: 1px solid black;
    padding: 10px;
}

#procuct-details {
  background-color: white;
}

h1 {
  background-color: vars.$veryDarkBackgroundGreen;
  width: 600px;
}
