@use 'src/styles/vars';

#page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  
  h1 {
    color: vars.$backgroundGreen;
  }

  // DISCLAIMER
  
  #info-disclaimer{
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 400;
    color: vars.$darkGrey; 
    background-color: vars.$lightYellow;
    border : 1px, solid, vars.$orangeYellow;
    border-radius : 5px;
    line-height: normal;
    padding: 1em;
    margin: 0.5em;

    .disclaimer-bold {
      font-weight: 600;
    }
  }
  #easter-home {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 20px;
    color: vars.$backgroundGrey;

    span {
      position: absolute;
      opacity: 0%;
      width: 0%;
    }  
    &:hover {
      span {
        position: static;
        opacity: 100%;
        width: 100%;
        transition: width 1000ms, opacity 1000ms;
      }
    }
  }

  // CATEGORIES BOX
  #categories-box {
    margin-top: 20px;

    #category-cards {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      min-height: 100px;

      .category-card {
        margin: 15px;
        border-radius: 10px;
        height: 220px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #00000004;
        ; 
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
        &:hover {          
          background: none;
          border: 3px solid vars.$orangeYellow;
          box-shadow: none;
          .category-card-img {
            filter: none;
            width: 90%;
            transition: width 300ms;
          }

          .category-card-name {
            color: vars.$backgroundGrey;
          }
        }

        &-img {
          width: 70%;
          height: auto;
          margin: auto;
          filter: grayscale(70%);
        }

        // category title on card
        &-name {
          color: vars.$backgroundGrey;
          text-align: center;
          font-weight: 600;
          font-size: 1.2rem;
          font-family: "brandon-grotesque",sans-serif;
          margin-bottom: 10px;
        }
        
      }

      // different background img per category
     /* #css-puns {
        background-image: url(/src/assets/images/trombi/mug_trombinoscope_Marion.png);
      }

      #blagues-de-dev {
        background-image: url(/src/assets/images/trombi/mug_trombinoscope_Andrei.png);
      }

      #geek {
        background-image: url(/src/assets/images/trombi/mug_trombinoscope_Nicolas.png);
      }

      #oclock {
        background-image: url(/src/assets/images/trombi/mug_trombinoscope_Erwan_Albert.png);
      }    
      */  
    }
  }




  // CAROUSELS 

  .carousel-color {
    background-color: vars.$darkBackgroundGreen;
    color: vars.$lightYellow;
  }

  .carousel-box {
    // border: 1px solid red;
    width: 100%;
    padding-bottom: 30px;
  }


}
