@use 'src/styles/vars';

#main-box {
  margin-top: 0;
}

#contact-title {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: vars.$backgroundGrey;
  padding-top: 20px;
}


#contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


#text-area{
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 1.2rem;  // not working
  height: 8em;
  width: 100%;
  align-items: center;
  background-color: vars.$lightYellow ;
  margin: 1em;
  border-radius: 3px;
  padding: 15px;


  &::placeholder {
    font-size: 1.2rem;
  }
}

#button-contact {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 1.2rem;
  color: vars.$lightYellow;
  width: 60%;
  height: 2.5em;
  margin: 1.5em;
  background-color: vars.$darkBlue ;
  border: 1px solid vars.$darkBlue;
  border-radius : 3px;

  &:hover {
    opacity: 0.9;
  }
}

.contact-input{
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 1.2em;
  height: 3em;
  width: 100%;
  background-color: vars.$lightYellow;
  border: 1px solid vars.$lightYellow;
  border-radius: 3px;
  margin: 1em; 
  padding-left: 15px;
}

