#main-box {
  margin-top: 0;
}

#contact-title {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fffdd8;
}


#first-name {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
  
}

#last-name {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
}

#promo {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
  
}


#email {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
  
}

#message {
  height: 6em;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
}

