@use 'src/styles/vars';

.product-carousel-parent{
  display: flex; 
  // border: 1px solid red;
  max-width: 60vw;
  
  .thumbnails{
    justify-content: center;
  }
  .active-thumbnail {
    border: 2px solid #ffb400;
  }
  .carousel-container {
    text-align: "center";
    max-width: 850px;
    max-height: 500px;
  }
  .slide-number {

  }
}

.dots  {
  //
  .dot.active {
    display: none;
  }
}
