@use 'src/styles/vars';

.product-carousel-container{
  display: flex; 
  min-width: 50%;
  // border: 1px blue solid;
  padding: 10px;
  justify-content: center;

  @media (max-width: 900px) and (min-width: 600px) { 
    max-width: 40%;
  }
  
  .carousel-container {
    text-align: center;
    //max-height: 500px;
    max-width: 70%;
    // border: 1px red solid;
    margin: 20px;

    // .carousel-item {
    //   // border: 1px orange solid;
    // }
  }

  // .slide-number {

  // }

  .dots  {
    display: none;
  }

  .thumbnails{
    justify-content: center;
  }
  .active-thumbnail {
    border: 2px solid #ffb400;
  }

}
