@use 'src/styles/vars';

#footer {
  background-color: vars.$darkGrey;
  margin-top: 1rem;
  width: 100%;
  min-height: 15vh;
  padding-top: 10px;
  margin-top: 0;
  padding-bottom: 10px;
  // position: absolute;
  // bottom: 0;

  // 1st column
  #social-container {
    display: flex;
    align-items: center;
    padding: 20px 0;

    .social-icon {
      width: 30px;
      align-items: center; 
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  
  // 2nd column
  #logo-container {
    padding-bottom: 10px;

    #logo-image{
      width: 50px;
      align-items: center;
      margin: 10px;
    }
  }
  
  // 3rd column
  #page-links-container{
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    a {
      text-decoration: none;
      color: vars.$lightYellow;
      padding: 5px;
    }  
  }

  #copyright-typo{
    font-family: 'brandon-grotesque', sans-serif;
    color: #fffdd8;
  }

}



