@use 'src/styles/vars';

body {
  background-color : #0ac3a7!important;
}


#main-sign-in {
  min-height: 85vh;
  // margin-bottom: 20vh;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
}

.link {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 700;
  color: vars.$darkBlue; 
  padding-bottom: 1rem;
}

#logo-navbar{
  padding-top: 2rem; 
  width: max(100%, 250px);
  align-items: center;
  fill : #fffdd8;
}


#box{
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
}

#email {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
  
}

#password {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
}

#lock-avatar {
  background-color: #0CAD93;
}

#connexion-button {
  background-color: vars.$darkBlue; 
  color: #fffdd8;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
  width: 100%;
  font-size: smaller;
}

#typography-title {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 700;
  color: #fffdd8; 
}
