#mainBox {
  margin-top: 0;
}

#logo-navbar{
  padding-top: 2rem; 
  padding-bottom: 1rem;
  width: max(100%, 250px);
  align-items: center;
  fill : #fffdd8;
}


#first-name {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
  
}

#last-name {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
}

#promo {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
  
}


#email {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
  
}

#password {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
}

#password-verify {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: #fffdd8;
  border-radius: 4px;
}

#logo-navbar{
  padding-top: 2rem; 
  max-width: 1200px;
  align-items: center;
  fill : #fffdd8;
}
