@use 'src/styles/vars';

.register-box {
  width: 50%;
  border: 1px solid red;
  margin: 16px 0 8px 0!important;
  .register-select{
    // border: 1px solid red;
    width: 100%;
    background-color: vars.$lightYellow;
  }
}

#main-box {
  margin-top: 0;
}

#logo-navbar{
  padding-top: 2rem; 
  padding-bottom: 1rem;
  width: max(100%, 250px);
  align-items: center;
  fill : vars.$lightYellow;
}

#typography-title {
  font-family: 'brandon-grotesque', sans-serif;
}


#first-name {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: vars.$lightYellow;
  border-radius: 4px;
}

#last-name {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: vars.$lightYellow;
  border-radius: 4px;
}

#promo {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: vars.$lightYellow;
  border-radius: 4px;
  
}


#email {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: vars.$lightYellow;
  border-radius: 4px;
  
}

#password {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: vars.$lightYellow;
  border-radius: 4px;
}

#check-password {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
  background-color: vars.$lightYellow;
  border-radius: 4px;
}

#logo-navbar{
  padding-top: 2rem; 
  max-width: 1200px;
  align-items: center;
  fill : vars.$lightYellow;
}
