@use 'src/styles/vars';


#navbar-container {
  width: 100%;
	//padding-right:15px;
	//padding-left:15px;
	//margin-right:auto;
	//margin-left:auto;
  //border: 3px solid red;
  background-color: vars.$blackOpacityTwenty;
  //color: white;
  position: relative;
}

.main-nav {
  //border: 3px solid green;
  display: flex;
  justify-content: space-around;

  // to have the burger icon on the right on mobile view
  @media (max-width:900px) { 
      width: 100%;
      text-align: right;
    }
  }

/*
img {
  max-width: 100%;
  height: auto;
}
*/

.sec__one {
    position: relative;
    width: 100%;
    display: flex;
    padding: 60px 0;
}


.is-active {
  color: vars.$backgroundGreen!important;
}

.navBar .col-md-3 {
  z-index: 7;
}
ul.main-menu {
  //border: brown 1px solid;
  display: flex;
  width: 100vw;
  max-width: 1200px;
  min-height: 64px;
  padding-right: 44px; // 24px + size of down arrow svg(20px)
  padding-left: 34px; // to make it match with searchbar padding (mui component impossible to target)
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  z-index: 7;
}
ul.main-menu>li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.menu-item {
  //width: 100%;
  // border: blue 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  height: 64px;
  list-style-type: none;

  & a {
    font-family: "brandon-grotesque",sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    //line-height: 3rem;
    position: relative;
    display: block;
    color: vars.$lightYellow;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
  }
}

.header__middle {
  display: flex;
  width: 100%;
  //float: left;
  //border-bottom: 1px dashed lavender;
  position: relative;
}


.active{
  color: vars.$darkGrey!important;
  background: none!important;
  // text-decoration: underline!important;
  // text-underline-offset: 0.2rem;
} 

.sub__menus__arrows{
  position: relative;
}
.sub__menus__arrows svg, .sub__menus__arrows__full svg{
  padding-top: 0px;
  position: absolute;
  top: 3px;
  width: 20px;
  //right: -30px;
}


// dropdown on categories menu item
.sub__menus {
  position: absolute;
  right: -20px; // size of the down arrow
  top: 64px;
  display: none;
  background-color: vars.$lightYellow;
  min-width: 150px;
  padding: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 50 / 10%);

  // we want full width on dropdown on mobile screens
  @media (max-width:900px) { 
      width: 100%;
      margin: 0;
      padding: 0;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: vars.$backgroundGreen;
    }    
  }
}


@media (max-width:900px) { 
  .header__middle .active {
    color: vars.$backgroundGreen!important;
    background: none;
    // text-decoration: underline;
    // text-underline-offset: 0.2rem;
  }
}

@media (min-width:900px) { 
  .sub__menus__arrows:hover .sub__menus{
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus{
    display: block;
    z-index: 1000000;
  }
}



.menu-item .sub__menus  a {
  //padding: 7px 0 0px 0;
  //margin: 7px 27px;
  margin: 0;
  padding: 0;
  color: vars.$backgroundGrey!important;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3rem;
  width: 100%;
}

// prop à modif si on veut le soulignage jaune au hover
.menu-item:hover > a{
  color: vars.$darkGrey !important;
  
}


@media(max-width:900px){
.header__middle__logo {width: 77%;}
.header__middle__menus {width: 20%;}
.header__middle__logo img {max-width: 197px;margin: 27px 0 0 0;}

// hamburger menu icon
.main-nav .menubar__button {
  display: block!important;
  color: vars.$lightYellow;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  margin: 14px auto 13px;
  cursor: pointer;
  position: relative;
  z-index: 10037;

  svg {
    font-size: 33px;
  }
}
.main-nav .menubar__button:hover {
  color: vars.$darkGrey;
}

.main-nav .menu-item:hover > a {
  color: vars.$backgroundGreen!important;
}

.main-nav ul.menuq2 {
  display: block!important;
  position: absolute;
  right: 0;
  z-index: 10007;
  background-color: vars.$backgroundGrey;
  padding: 0;
}

.main-nav .menu-item a {
  margin: auto 0;
  text-align: center;
  color: vars.$lightYellow;
}

.main-nav  ul.main-menu {display: none}
.main-nav .sub__menus__arrows:hover .sub__menus {margin: 0 auto;left: 0;right: 0;}
.sub__menus__Active{display: block!important;margin: 0 auto;left: 0;right: 0;}
.sub__menus__Active2{display: block!important;}
.menus__categorysss{display: none;}
.menus__categorysss2{display: none;}
.menu-item .sub__menus__full a {text-align: left;}

}

